body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(0, 0, 0);
    color: rgb(247, 247, 247);
}

header, footer {
    text-align: center;
    background-color: rgb(63, 114, 48);
    color: white;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

.item {
    background-color: rgb(74, 131, 74);
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px rgb(255, 255, 255);
}

.conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 150px;
    gap: 15px;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
}

.item1 {background-color: rgb(0, 255, 0);}
.item2 {background-color: rgb(0, 119, 255);}
.item3 {background-color: rgb(185, 9, 185);}
.item4 {background-color: rgb(243, 52, 52);}
.item5 {background-color: rgb(255, 123, 0);}
.item6 {background-color: rgb(208, 255, 0);}
