body {
  font-family: Arial, sans-serif;
  background-color: #0f0f0f;
  color: #e0e0e0;
  
}

header {
  background-color: #76b900;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
}

header .logo img {
  height: 40px;
  margin-right: 30px;
  margin-top: 6px;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin-left: 30px;
}

header nav ul li a {
  text-decoration: none;
  color: #0f0f0f;
}

main {
  padding: 40px 20px;
}

.intro {
  text-align: center;
  margin-bottom: 40px;
}

.produtos h2 {
  margin-bottom: 20px;
}

.cards {
  display: flex;      
  gap: 20px;   
}

.cards a {
  text-decoration: none;
  color: white;
  flex: 1;

}

.card {
  width: 600px;
  background: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
}

footer {
  background: #111;
  border-top: 2px solid #76b900;
}
