body {
    background-color: azure;
    padding: 20px;
    text-align: center;
}

h1 {
    color: indigo;
    margin-bottom: 40px;
}

.caixa {
    width: 300px;
    background-color: aquamarine;
    border: 3px solid black;
    margin: 20px auto;
    text-align: left;
}

.margin {
    background-color: cyan;
    margin: 50px auto;
    padding: 10px;
}

.padding {
    background-color: chartreuse;
    padding: 50px;
    margin: 20px auto;
}

p {
    font-size: 15px;
}